/* Dark to Light Gradient */
.low-to-high {
  background: linear-gradient(to right, #03396c, #005b96, #6497b1, #ffffff);
}

/* Light to Dark Gradient */
.high-to-low {
  background: linear-gradient(to right, #ffffff, #ffe4e1, #ff9aa2, #ff6f91);
}

body {
  background-color: rgb(226, 223, 223);
}

body { font-family: 'Poppins', sans-serif;}

body::-webkit-scrollbar {
  display: none;
}

.gradient {
  background: 'linear-gradient(135deg, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb)'
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards; /* Adjust the duration as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}